################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaxAbc/.vs/MaxAbc/FileContentIndex
